fastapi
uvicorn[standard]
celery
redis
ezdxf
pandas
openpyxl
python-multipart
aiofiles
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
pdfplumber
pillow
email-validator
